<!DOCTYPE html>
<html ng-app >
<head>
	
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<script src="angular.js"></script>
	<script src="ObjectCreater.js"></script>
	<script src="jquery.js"></script>
	<script src="mainController.js"></script>
	<style type="text/css">
	form{
		margin:50px 10px; 
	}
	.blue{
		background-color:#0099cb;
	}
	.red{
		background-color: red;
		font-weight: bold;
	}
	.green{
		background-color: green;
	}

	</style>
</head>
<body >	
	<div id="maincontent" ng-controller="mainController">
	<div class="row-fluid">
		<div class="span6">
	<table class="table" >
		<tr>
			<td>编号</td>
			<td>姓名</td>
			<td>组织</td>
			<td>空间</td>
			<td>属性</td>
		</tr>
		<tr ng-repeat="one in users">
			<td>{{$index+1}} </td>
			<td>{{one.name}}</td>
			<td>{{one.belongOrg}}</td>
			<td>{{one.space}}</td>
			<td>{{one.authority}}</td>		
		</tr>
	</table>
	</div>
		<div class="span4">
	<form >
	<table class="table">
		<tr >
			<td>姓名</td><td><input type="test" ng-model="singleUser.name"/></td>
		</tr>
		<tr >
			<td>密码</td><td><input type="test" ng-model="singleUser.pwd"/></td>
		</tr>
			<td>组织</td><td><input type="test" ng-model="singleUser.belongOrg"/></td>
		<tr >	
			<td>空间</td><td><input type="test" ng-model="singleUser.space"/></td>
		</tr>
		<tr >
			<td>权限</td><td><input type="test" ng-model="singleUser.authority"/></td>
		</tr>				
	</table>
	<input type="submit" ng-click="update(singleUser)">
	</form>
	</div>
	
</div>
	</div>
</body>
</html>

